body {
  background-color: #7359DC;
}

.container {
  width: 500px;
  margin: 110px auto;
  background: #E5E5E5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "roboto", "sans serif";
  font-size: 22px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #654ec0;
}

form {
  display: flex;
  flex-direction: column;
  width: 420px;
  
}

input, textarea {
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  padding-left: 14px;
  font-family: "roboto", "sans serif";
  font-size: 16px;
}

textarea {
  padding-top: 12px;
  height: 188px;
}

input {
  height: 40px;
}

input:focus, textarea:focus {
  outline: none;
}

button {
  height: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  background: #7359DC;
  color: #fff;
  border-style: none;
  outline: none;
  font-family: roboto, sans-serif;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0px 6px #999;
}

button:hover {
  background-color: #5541a1;
}

button:active {
  background-color: #5541a1;
  box-shadow: 0 3px #706f6f, inset 0 0 15px #221b41;
  transform: translateY(3px);
}

/* .confirmation {
  font-family: roboto, sans-serif;
  font-size: 14px;
  color: #5541a1;
  margin-top: 20px;
  display: flex;
  position: relative;
  justify-content: center;
}

.confirmation .success {
  position: absolute;
  display: none;
}

.confirmation .fail {
  position: absolute;
  display: none;
  color: red;
} */